# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React
build/
dist/
*.env

# Laravel
.env
vendor/
node_modules/
public/storage
/public/hot
/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
