/*
PULIGUNDLA, JASHWANTH CHOWDARY (1001949700)
PATIL, SWAPNIL DIGAMBAR (1002032004)
REDDY, RANJITH GOPAL (1002028255) 
*/
  
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }